{% extends "products/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
{% block content%}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>

            <th> - </th>
            <th> + </th>
        </tr>
        </thead>
        <tbody>

        {% for item in cart %}
            {% with product=item.product %}

                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form action="{% url 'cart:remove_from_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                    <td class="num">${{ product.price }}</td>


                    <td>
                        <form action="{% url 'cart:delete_item' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">-</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'cart:add_to_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">+</button>
                        </form>
                    </td>
                </tr>

            {% endwith %}
        {% endfor %}

        <tr class="total">
            <td>Итого</td>
            <td colspan="4"></td>
            <td class="num">${{ price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "products:product_list" %}"><button>Continue  shopping</button></a>
    </p>
    <a href="{% url "orders:create_order" %}"><button>Оформть заказ</button></a>
{% endblock content%}
</body>
</html>